<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kesbokar.kesbokar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.kesbokar.kesbokar.Main3BusinessActivity"></activity>

        <activity android:name="com.kesbokar.kesbokar.Reply_Help_Desk"></activity>

        <activity android:name="com.kesbokar.kesbokar.New_manage_help_desk" />
        <activity android:name="com.kesbokar.kesbokar.ManageHelpDeskActivity" />
        <activity android:name="com.kesbokar.kesbokar.MarketListing" />
        <activity android:name="com.kesbokar.kesbokar.Main2Activity" />
        <activity android:name="com.kesbokar.kesbokar.ProfileMarket" />
        <activity android:name="com.kesbokar.kesbokar.ProfileBusinessListing" />
        <activity android:name="com.kesbokar.kesbokar.inbox_business" />
        <activity android:name="com.kesbokar.kesbokar.inbox_market" />
        <activity android:name="com.kesbokar.kesbokar.Profile" />
        <activity
            android:name="com.kesbokar.kesbokar.LoginData"
            android:label="@string/title_activity_login_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kesbokar.kesbokar.Buisness_Listing" />
        <activity
            android:name="com.kesbokar.kesbokar.SignUp"
            android:configChanges="orientation|screenLayout|screenSize|touchscreen"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kesbokar.kesbokar.Login" />
        <!--
<activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|screenLayout|screenSize|touchscreen"
            android:label="@string/title_activity_login" />
        -->
        <activity android:name="com.kesbokar.kesbokar.Career" />
        <activity
            android:name="com.kesbokar.kesbokar.About"
            android:configChanges="orientation|screenLayout|screenSize|touchscreen"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kesbokar.kesbokar.Help" />
        <activity
            android:name="com.kesbokar.kesbokar.WebViewActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesbokar.kesbokar.Navigation_market"
            android:configChanges="orientation"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesbokar.kesbokar.Navigation"
            android:configChanges="orientation|screenLayout|screenSize|touchscreen"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesbokar.kesbokar.ProductManagementActivity"
            android:configChanges="orientation|screenLayout|screenSize|touchscreen"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.kesbokar.kesbokar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>